/src/utilities/gpsim2tuple/gpsim2tuple
/src/utilities/lpf-rc/lpf-rc
/src/utilities/mean/mean
/src/utilities/randomise-ram/randomise-ram
/src/utilities/sunrise-sunset/accurate/sunrise-sunset
/src/utilities/sunrise-sunset/curve-fitting/curve-fit
/src/utilities/sunrise-sunset/lookup/lookup
/src/utilities/trigonometry/cordic/cordic-float
/src/utilities/trigonometry/cordic/cordic-fixed
/src/utilities/trigonometry/smoothstep/smoothstep
/src/firmware/MPLABXLog.xml*
/src/firmware/log.*
/src/firmware-tests/RandomiseRam.sti
/**/.~*
/src/schematics/~*.sch
/src/schematics/~*.pcb
/src/schematics/*.net
/src/schematics/Cluck2Sesame (*.txt
/src/schematics/Plots
/src/schematics/Reports
/src/schematics/pcbtrain/Cluck2Sesame
.*.swp
*.log*
*.pp.asm
*.lst
*.map
*.cod
*.cof
*.hex
*.bin
*.o
*.a
