/src/firmware/Cluck2Sesame.X/build
/src/firmware/Cluck2Sesame.X/dist
/**/.~*
/src/schematics/~*.sch
/src/schematics/~*.pcb
/src/schematics/*.net
/src/schematics/Cluck2Sesame (*.txt
/src/schematics/Plots
/src/schematics/Reports
/src/schematics/pcbtrain/Cluck2Sesame
/src/firmware-tests
